<div *ngIf="!vacancy">Загрузка...</div>
<div *ngIf="vacancy">
    <div>
        <div> Title: {{vacancy.title}} </div>
        <div> Description: {{vacancy.description}} </div>
        <div> Questions Count: {{vacancy.questionsCount}} </div>
    </div>
    <mat-divider></mat-divider>
    <div>
        <div>
            <mat-form-field id="first-name-field" class="input-field">
                <input matInput placeholder="Имя" [(ngModel)]="contact.firstName" required>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div>
            <mat-form-field id="last-name-field" class="input-field">
                <input matInput placeholder="Фамилия" [(ngModel)]="contact.lastName" required>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div>
            <mat-form-field id="phone-field" class="input-field">
                <input matInput placeholder="Номер телефона" [(ngModel)]="contact.phone" required>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div>
            <mat-form-field id="email-field" class="input-field">
                <input matInput placeholder="Почта" [(ngModel)]="contact.email" required>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div>
            <mat-checkbox [(ngModel)]="contact.termsAgreed">Согласен <a routerLink="/terms">с условиями передачи данных
                    военкому и всё такоемана.</a></mat-checkbox>
        </div>
        <div>
            <button class="yellow-button submit" type="button" (click)="submit()" mat-button>Отправить</button>
        </div>
    </div>
</div>