<div class="main-div">
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>HR Assistant</h1>
  </mat-toolbar>
  <mat-sidenav-container autosize class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side">
      <mat-nav-list>
        <mat-list-item (click)="userManagement()">Пользователи</mat-list-item>
        <mat-list-item (click)='jobPositionManagement()'>Должности</mat-list-item>
        <mat-list-item (click)='cityManagement()'>Города</mat-list-item>
        <mat-list-item (click)='teamManagement()'>Команды</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>