<div *ngIf="loading"></div>
<div *ngIf="!loading" class="center">
    <div style="text-align: right">{{questionIndex}}/{{totalQuestionsCount}}</div>
    <mat-card>
        <div>{{question.title}}</div>
        <div *ngIf="question.questionType == 'Input' || question.questionType == 'General'">
            <mat-form-field id="answer-field" class="input-field">
                <textarea matInput placeholder="Ответ" [(ngModel)]="answer" required></textarea>
            </mat-form-field>
        </div>
        <div *ngIf="question.questionType == 'Select' && question.oneCorrectAnswer">
            <mat-radio-group aria-label="Выбери один ответ" [(ngModel)]="selectedOption">
                    <mat-radio-button *ngFor="let option of question.options" [(value)]="option">{{option.title}}
                    </mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="question.questionType == 'Select' && !question.oneCorrectAnswer">
            <mat-checkbox *ngFor="let option of question.options" [(ngModel)]="option.checked">{{option.title}}
            </mat-checkbox>
        </div>
    </mat-card>
    <button mat-button *ngIf="!result" class="yellow-button" (click)="submit()">Далее</button>
</div>