<div class="outer">
  <div class="crud-header">
    <div class="left-div">
      <h1>Новая должность</h1>
    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

  <p *ngIf="!jobPosition"><em>Loading...</em></p>
  <div *ngIf="jobPosition">
    <mat-horizontal-stepper>
      <mat-step label="Должность">
        <mat-form-field id="title-field" class="input-field">
          <input matInput placeholder="Название должности" [(ngModel)]="jobPosition.title" required>
        </mat-form-field>
      </mat-step>
      <mat-step label="Шаблон">
        <mat-form-field id="description-field" class="input-field">
          <textarea matInput placeholder="Описание шаблона" [(ngModel)]="jobPosition.template.description"
            required></textarea>
        </mat-form-field>
      </mat-step>
      <mat-step label="Вопросы">
        <div>
          <button class="button" [matMenuTriggerFor]="menu" mat-button>Добавить вопрос</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addGeneralQuestion()">Основной вопрос</button>
            <button mat-menu-item (click)="addInputQuestion()">Вопрос с ответом</button>
            <button mat-menu-item (click)="addSelectQuestion()">Вопрос с выбором ответа</button>
          </mat-menu>
          <div cdkDropList class="question-list" (cdkDropListDropped)="drop($event)">
            <div class="question-box" *ngFor="let question of jobPosition.template.questions" cdkDrag>
              <div *ngIf="isGeneralQuestion(question)" class="form-div-question">
                <div class="header">
                  <h1>Основной вопрос</h1>
                </div>
                <mat-form-field class="input-field">
                  <input matInput placeholder="Название вопроса" [(ngModel)]="question.title" required>
                </mat-form-field>
                <div>
                  <button type="button" (click)="removeQuestion(question)" mat-button>Удалить</button>
                </div>
              </div>
              <div *ngIf="isInputQuestion(question)" class="form-div-question">
                <div class="header">
                  <h1>Вопрос с ответом</h1>
                </div>
                <mat-form-field class="input-field">
                  <input matInput placeholder="Название вопроса" [(ngModel)]="question.title" required>
                </mat-form-field>
                <div>
                  <mat-form-field class="input-field">
                    <input matInput placeholder="Верный ответ" [(ngModel)]="question.correctAnswer" required>
                  </mat-form-field>
                </div>
                <div>
                  <button type="button" (click)="removeQuestion(question)" mat-button>Удалить</button>
                </div>
              </div>
              <div *ngIf="isSelectQuestion(question)" class="form-div-question">
                <div class="header">
                  <h1>Вопрос с выбором ответа</h1>
                </div>
                <mat-form-field class="input-field">
                  <input matInput placeholder="Название вопроса" [(ngModel)]="question.title" required>
                </mat-form-field>
                <div>
                  <button class="button" (click)="addOption(question)" mat-button>Добавить опцию
                  </button>
                </div>
                <div cdkDropList class="answer-list" (cdkDropListDropped)="dropOption(question, $event)">
                  <div class="answer-box" *ngFor="let option of question.options" cdkDrag>
                    <mat-form-field class="input-field">
                      <input matInput placeholder="Название опции" [(ngModel)]="option.title" required>
                    </mat-form-field>
                    <mat-checkbox [(ngModel)]="option.isCorrect">Верный ответ?
                    </mat-checkbox>
                    <div>
                      <button type="button" (click)="removeOption(question, option)" mat-button>Удалить</button>
                    </div>
                  </div>
                </div>
                <mat-checkbox [(ngModel)]="question.oneCorrectAnswer">Только один правильный ответ?
                </mat-checkbox>
                <div>
                  <button type="button" (click)="removeQuestion(question)" mat-button>Удалить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Завершить">
        <div>
          <button id="create-button" class="yellow-button" type="button" (click)="submit()"
            mat-button>{{buttonText}}</button>
          <button id="cancel-button" type="button" (click)="cancel()" mat-button>Отмена</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>