#first-name-field {
    margin-right: 10px;
}

.input-field {
    width: 500px;
}

#create-button {
    margin-right: 10px;
}

#cancel-button {
    background: #f5f5f5;
    border-color: #f5f5f6;
    color: #333;
}